
<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          Paramétrage formation
        </nb-card-header>
        <nb-card-body>
            <div class="row show-grid">
                <div class="col-md-4">
                  <ngx-mot-cle></ngx-mot-cle>
                </div>
                <div class="col-md-4" style="padding-left:0px">
                <ngx-catalogue></ngx-catalogue>
                </div>
                <div class="col-md-4">
                 <ngx-filiere-metier></ngx-filiere-metier>
                </div>
              </div>
        </nb-card-body>
    </nb-card>
    </div>
    </div>



