<div class="col-md-12  " style="width:950px; height: 450px" >

  <nb-card>
  <nb-card-body>

    <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="Nomformateur">Nom formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.nom" disabled placeholder="Nom Formateur"   name="Nomformateur"  />
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="Prenomformateur">Prenom formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.prenom" disabled placeholder="Prenom Formateur"   name="Prenomformateur"  />
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="classeformateur">Classe formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.classe" disabled placeholder="Classe Formateur"   name="classeformateur"  />
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="fonctionformateur">Fonction formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.fonction" disabled placeholder="Fonction Formateur"   name="fonctionformateur"  />
        </div>
       </div>
       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="photoformateur" style="margin-top: 2rem;">Photo formateur</label>
        </div>
        <div class="col" style="    height: 7rem;">
          <img [src]="sourceImage"
          style=" width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;">
          </div>
       </div>

    <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="CVformateur">CV formateur</label>
        </div>
      <div style="text-align:right;padding-left: 14px;">
        <button nbButton status="info" [disabled]="formateur.cv == 'none'" (click)="download()" >Download</button>
      </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="emailformateur">Email formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.email" disabled  placeholder="Email Formateur"   name="emailformateur"  />
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="telformateur">Tel formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.tel" disabled placeholder="Tel Formateur"   name="telformateur"  />
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="nssformateur">Nss formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.nss" disabled placeholder="Nss Formateur"   name="nssformateur"  />
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="salaireformateur">Salaire formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.salaire" disabled  placeholder="Salaire Formateur"   name="salaireformateur"  />
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="adrformateur">Adresse formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.adr" disabled  placeholder="Adresse Formateur"   name="adrformateur"  />
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="dateAjout">Date Ajout</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
            <input nbInput
            class="form-control"
            placeholder="Date d'ajout "
            [(ngModel)]="formateur.dateAjout"
            [nbDatepicker]="formpicker1"
            name="dateAjout"
            disabled
            >
     <nb-datepicker #formpicker1></nb-datepicker>
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="cinformateur">CIN formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.cin" disabled  placeholder="CIN Formateur"   name="cinformateur"  />
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="copiecinformateur">Vérification CIN formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.copieCin"  disabled placeholder="CIN Formateur"   name="copiecinformateur"  />
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="passportformateur">Passport formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.passport" disabled  placeholder="Passport Formateur"   name="passportformateur"  />
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="copiePassportformateur">Vérification passport formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.copiePassport" disabled  placeholder="Passport Formateur"   name="copiePassportformateur"  />
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="visaformateur">Visa formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.visa" disabled  placeholder="Visa Formateur"  name="visaformateur"  />
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="valVisaformateur">Validité Visa formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
            <input nbInput class="form-control"
            required
            placeholder="Validité Visa Formateur"
            [nbDatepicker]="formpicker2"
            [(ngModel)]="formateur.valVisa"
            name="valVisaformateur"
            disabled
            >
     <nb-datepicker #formpicker2></nb-datepicker>
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="tarifformateur">Tarif formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.tarif" disabled  placeholder="Tarif Formateur"   name="tarifformateur"  />
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="ribformateur">RIB formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.rib" disabled  placeholder="RIB Formateur"   name="ribformateur"  />
        </div>
       </div>

       <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="copieRibformateur">Vérification RIB formateur</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" nbInput  [(ngModel)]="formateur.copieRib" disabled  placeholder="RIB Formateur"   name="copieRibformateur"  />
        </div>
       </div>





  </nb-card-body>
  </nb-card>
  <div style="text-align:right;">
    <button nbButton status="warning" (click)="fermer();" style="margin-left: 30px;margin-bottom: 12px;">Return</button>
  </div>

  </div>
